@charset "utf-8";

body {
    width: 1920px;
    height: 100%;
}

.inner {
    width: 1720px;
    margin: 0 auto;
}

#header {
    height: 6rem;
}

#header nav {
    width: 143rem;
    height: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
}

.logo {
    padding: 0 30px 0;
}

.logo a {
    display: block;
    width: 200px;
    height: 35px;
    background: url(../img/ceragem-logo.svg) no-repeat 0 0 / contain;
}

.gnb-product {
    display: flex;
}

.gnb-product li a {
    display: block;
    padding: 3.3rem 2.4rem;
    font-weight: 600;
    font-size: 1.2rem;
}

.gnb-product li:hover {
    color: var(--ceragem-main-color);
}

.gnb-for-user {
    display: flex;
}

.gnb-for-user li a {
    display: block;
    padding: 3rem 3rem;
    font-weight: 700;
    font-size: 1.2rem;
}

.gnb-for-user li:hover {
    color: var(--ceragem-main-color);
}

.gnb-for-user li a i {
    font-size: 2rem;
}

.gnb-for-user li+li>.business-sub-list>ul {
    position: absolute;
    top: 90px;
    left: 66%;
    transform: translateX(-50%);
    width: 150px;
    background: #fff;
    text-align: center;
    border: 1px solid var(--black30);
    box-shadow: 0px 4px 4px -4px rgba(128, 128, 121, 0.2);
    z-index: 100;
    display: none;
}

.gnb-for-user li+li>.business-sub-list>ul li a {
    padding: 1.5rem 0;
    font-weight: 700;
    font-size: 1.4rem;
}

.gnb-for-user li+li>.business-sub-list>ul li:first-child {
    border-bottom: 1px solid var(--black30);
}

.gnb-for-user li+li:hover .business-sub-list ul {
    color: var(--black70);
    display: block;
}

/* header end */
.visual {
    height: 50rem;
    display: flex;
}

/* swiper start */
.swiper {
    height: 50rem;
}

.swiper-slide img {
    vertical-align: top;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.top-slider-wrap {
    width: 100%;
    position: relative;
}

.second-slider-wrap {
    width: 100%;
    position: relative;
}

.product-preview-slide {
    width: 100%;
    height: 100%;
    background: var(--white90);
}

.second-slider-wrap .swiper-pagination-bullet {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
}

.second-slider-wrap .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--ceragem-main-color);
}

/* swiper end */
.product-reviews {
    padding: 100px 0 50px;
}

.product-reviews-logo {
    font-size: 40px;
    text-align: center;
    padding: 60px 0 50px;
}

.product-preview-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1270px;
    margin: 0 auto;
}

.product-preview-item {
    width: 350px;
    text-align: center;
}

.product-preview-item figure {
    width: 350px;
    height: 350px;
}

.product-preview-item figure img {
    width: 350px;
    height: 350px;
}

.product-preview-item h3 {
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0 0;
}

.product-preview-item p {
    font-size: 20px;
    padding-top: 1.2rem;
}

.product-preview-item dl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: auto;
    padding: 20px 0 0;
}

.product-type {
    width: 160px;
    height: 55px;
    background: var(--ceragem-main-color);
    border-radius: 0 60px 0 0;
}

.product-type p {
    font-size: 18px;
    color: var(--white90);
}

.product-preview-item dl dd {
    padding: 0 0 20px;
}

.evaluate {
    font-size: 15px;
}

.buisness-favors {
    padding: 6rem 0 9rem;
}

.buisness-favors .inner {
    width: 1470px;
}

.buisness-favors-list {
    width: 1470px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5.5rem;
}

.favor {
    width: 350px;
    height: 21rem;
    text-align: center;
}

.favor h3 {
    font-size: 2.2rem;
}

.favor p {
    font-size: 1.4rem;
    padding-top: 1.2rem;
}

.favor i {
    font-size: 13rem;
}

/* reviews start */
.reviews {
    padding-bottom: 145px;
}

.reviews .inner {
    width: 1470px;
}

.review-logo {
    font-size: 40px;
    text-align: center;
    padding: 0 0 30px;
}

.reviews .inner figure {
    width: 310px;
    height: 310px;
}

.reviews .inner figure img {
    width: 310px;
    height: 310px;
}

.rating {
    width: 18rem;
}

.review-list {
    display: flex;
    justify-content: space-around;
    height: 500px;
}

.review-words dl {
    display: flex;
    justify-content: space-evenly;
    width: 100rem;
}

.review-words dl dt {
    width: 310px;
    height: 310px;
}

.review-words dl dd {
    width: 750px;
    height: 310px;
}

.reviews-talk {
    padding: 4rem 0 2rem;
    font-size: 20px;
    line-height: 1.5;
    width: 600px;
}

.user-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 2;
}

.left-arrow,
.right-arrow {
    width: 30px;
    height: 30px;
    background: var(--white50);
}

.review-order {
    float: right;
}

.review-slider-wrap {
    padding: 80px 0 0;
}

.review-slider-wrap .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.review-slider-wrap .swiper-pagination-bullet-active {
    color: #fff;
    background: var(--ceragem-main-color);
    width: 40px;
}

/* reviews end */
.customer-service-center .inner {
    width: 1430px;
    text-align: center;
}

.customer-service-center h2 {
    font-size: 48px;
    font-weight: 700;
}

.customer-service-center h3 {
    padding: 20px 0 0;
    font-weight: 700;
    font-size: 32px;
}

.customer-service-words {
    padding: 20px 0 50px;
    font-size: 18px;
}

.btn-customer-service {
    padding: 15px 56px;
    background-color: var(--ceragem-main-color);
}

.service-words {
    color: var(--white90);
}

.f-logo img {
    width: 200px;
}

.f-words {
    width: 630px;
    font-size: 17px;
    line-height: 1.5;
}

.copyright {
    text-align: center;
    font-size: 14px;
    padding: 30px 0 0;
}

.f-sns {
    display: flex;
    float: right;
}

.f-sns li {
    padding: 10px;
}